<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.first.order.repository.OrderMapper">

    <resultMap id="orderMap" type="com.shop.first.order.domain.Order">
        <result property="orderCode" column="order_code" />
        <result property="csId" column="customer_id" />
        <result property="csName" column="customer_name" />
        <result property="csPhone" column="customer_phone" />
        <result property="postCode" column="customer_post_code" />
        <result property="roadAddr" column="customer_lot_num_addr" />
        <result property="extraAddr" column="customer_extra_addr" />
        <result property="cartCode" column="cart_code" />
        <result property="prName" column="product_name" />
        <result property="prColor" column="product_color" />
        <result property="prSize" column="product_size" />
        <result property="orderTotalPrice" column="order_total_price" />
        <result property="orderDate" column="order_date" />
        <result property="orderAmount" column="order_amount" />
        <result property="deliPrice" column="order_deli_price" />
    </resultMap>

    <!-- //주문 내역 조회  -->
    <select id="getArticles" resultMap="orderMap">
        SELECT * FROM product_order
        WHERE customer_id = #{csId}
    </select>

    <!-- //주문 상세 조회  -->
    <select id="getContent" resultType="com.shop.first.order.domain.Order" resultMap="orderMap">
        DELETE FROM product_order
        WHERE order_code = #{orderCode}
    </select>


    <!-- 주문하기  -->
    <insert id="insert">
        INSERT INTO product_order (order_code, customer_id, customer_name, customer_phone,
                                customer_post_code, customer_road_addr, customer_lot_num_addr,
                                customer_extra_addr, cart_code, order_amount, product_name,
                                product_color,  product_size, order_deli_price, order_total_price)
        VALUES (seq_product_order.nextval, #{csId}, #{csName}, #{csPhone},
                                 #{postCode}, #{roadAddr},   #{lotNumAddr},
                                #{extraAddr}, #{cartCode}, #{orderAmount}, #{prName},
                                #{prColor}, #{prSize}, #{deliPrice},#{orderTotalPrice})
    </insert>

    <!-- //주문 취소   -->
    <delete id="cancel">
        DELETE FROM product_order
        WHERE order_code = #{orderCode}
    </delete>



    <resultMap id="productMap" type="com.shop.first.product.domain.Product">
        <result property="prCode" column="product_code" />
        <result property="cateCode" column="cate_code" />
        <result property="prName" column="product_name" />
        <result property="prPrice" column="product_price" />
        <result property="prYn" column="product_yn" />
        <result property="prAmount" column="product_amount" />
        <result property="prThumb" column="product_thumb" />
        <result property="prImg1" column="product_img1" />
        <result property="prImg2" column="product_img2" />
        <result property="prImg3" column="product_img3" />
        <result property="prImg4" column="product_img4" />
        <result property="prImg5" column="product_img5" />
        <result property="prDate" column="product_date" />
        <result property="prColor" column="product_color" />
    </resultMap>





</mapper>