<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.first.productoption.repository.ProductOptionMapper">

    <resultMap id="optionMap" type="com.shop.first.productoption.domain.ProductOption">
        <result property="optionCode" column="option_code" />
        <result property="prColor" column="product_color" />
        <result property="prSize" column="product_size" />
    </resultMap>

    <!--    //상품 목록 조회  -->
    <select id="getArticles" resultMap="optionMap">
        SELECT * FROM product_option
    </select>


</mapper>